<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oaec.Mapper.ProductCommentMapper">
	<insert id="insert" parameterType="ProductComment">
		insert into product_comment(
		`id`,
		`product_id`,
		`user_id`,
		`auditor_id`,
		`content`,
		`status`,
		`createTime`,
		`reserveTime`,
		`reserveBeizhu`,
		`support_count`,
		`oppose_count`,
		`report_count`
		)
		values(
		#{id},
		#{product_id},
		#{user_id},
		#{auditor_id},
		#{content},
		#{status},
		#{createTime},
		#{reserveTime},
		#{reserveBeizhu},
		#{support_count},
		#{oppose_count},
		#{report_count}
		)
	</insert>
	<select id="listByProductId" parameterType="java.lang.String"
		resultType="ProductComment">
		select * from product_comment where
		product_id=#{product_id}
	</select>
	<update id="updateById" parameterType="ProductComment">
	    update product_comment 
	    <set>
	      <if test="support_count != null">
	        support_count = #{support_count},
	      </if>
	      <if test="oppose_count != null">
	        oppose_count = #{oppose_count},
	      </if>
	      <if test="report_count != null">
	        report_count = #{report_count},
	      </if>
	    </set>
	    where id = #{id}
	  </update>
</mapper>
